In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [2]:
## load the data
data = pd.read_csv('Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
## pre process the data
## drop irrelevant features
data = data.drop(['RowNumber','CustomerId','Surname'],axis = 1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [ ]:
##encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France       0  ...               1        101348.88       1
1             608     Spain       0  ...               1        112542.58       0
2             502    France       0  ...               0        113931.57       1
3             699    France       0  ...               0         93826.63       0
4             850     Spain       0  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France       1  ...               0         96270.64       0
9996          516    France       1  ...               1        101699.77       0
9997          709    France       0  ...               1         42085.58       1
9998          772   Germany       1  ...               0         92888.52       1
9999          792    France       0  ...               0         38190.78       0

[10000 rows x 11 columns]

In [7]:
#one hote encode georpgrahic col

from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()

geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])

geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [8]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [11]:
geo_encoder_df = pd.DataFrame(geo_encoder.toarray(),columns = onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [13]:
#combine one hot encoded cols with the original data
data = pd.concat([data.drop('Geography',axis = 1),geo_encoder_df],axis = 1)
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [14]:
##save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [15]:
## divide the dataset into independent and dependent features
X= data.drop('Exited',axis = 1)
y = data['Exited']

## split the data in training and testing

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

# Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [16]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

ANN Implementation

In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [20]:
#build our ANN model
model = Sequential([
    Dense(64,activation='relu',input_shape = (X_train.shape[1],)), #connected with first hidden layer
    Dense(32,activation='relu'),
    Dense(1,activation='sigmoid') #output layer
]
)

In [22]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [24]:
opt = tf.keras.optimizers.Adam(learning_rate=0.01)
loss = tf.keras.losses.BinaryCrossentropy()

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.

In [25]:
#compile the model
model.compile(optimizer=opt, loss = 'binary_crossentropy',metrics = ['accuracy'])

In [ ]:
## setup the tensorboard
log_dir = 'logs/fit/' + datetime.datetime.now().strftime('%Y%m%d-%H%M%S')
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq= 1)

In [33]:
# setup Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss',patience= 10,restore_best_weights=True)

In [34]:
## training the model 
history = model.fit(
    X_train,y_train,validation_data = (X_test,y_test),epochs = 100,
    callbacks = [tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 0s 491us/step - loss: 0.3279 - accuracy: 0.8659 - val_loss: 0.3458 - val_accuracy: 0.8580
Epoch 2/100
250/250 [==============================] - 0s 412us/step - loss: 0.3264 - accuracy: 0.8660 - val_loss: 0.3387 - val_accuracy: 0.8600
Epoch 3/100
250/250 [==============================] - 0s 424us/step - loss: 0.3239 - accuracy: 0.8660 - val_loss: 0.3572 - val_accuracy: 0.8585
Epoch 4/100
250/250 [==============================] - 0s 410us/step - loss: 0.3236 - accuracy: 0.8676 - val_loss: 0.3496 - val_accuracy: 0.8585
Epoch 5/100
250/250 [==============================] - 0s 409us/step - loss: 0.3194 - accuracy: 0.8712 - val_loss: 0.3662 - val_accuracy: 0.8595
Epoch 6/100
250/250 [==============================] - 0s 412us/step - loss: 0.3198 - accuracy: 0.8698 - val_loss: 0.3725 - val_accuracy: 0.8540
Epoch 7/100
250/250 [==============================] - 0s 409us/step - loss: 0.3167 - accuracy: 0.8690 - val_loss: 0.3557 - val_accuracy: 0.8605
Epoch 8/100
250/250 [==============================] - 0s 409us/step - loss: 0.3195 - accuracy: 0.8677 - val_loss: 0.3650 - val_accuracy: 0.8570
Epoch 9/100
250/250 [==============================] - 0s 410us/step - loss: 0.3118 - accuracy: 0.8726 - val_loss: 0.3783 - val_accuracy: 0.8555
Epoch 10/100
250/250 [==============================] - 0s 407us/step - loss: 0.3090 - accuracy: 0.8710 - val_loss: 0.3693 - val_accuracy: 0.8595
Epoch 11/100
250/250 [==============================] - 0s 409us/step - loss: 0.3086 - accuracy: 0.8702 - val_loss: 0.3665 - val_accuracy: 0.8540
Epoch 12/100
250/250 [==============================] - 0s 412us/step - loss: 0.3063 - accuracy: 0.8721 - val_loss: 0.3871 - val_accuracy: 0.8445

In [35]:
model.save('model.h5')

/Users/nikhilbansal/Documents/projects/udemy/genai/sec13/ann_nik/venv/lib/python3.11/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [36]:
## load tensorboard extension
%load_ext tensorboard

In [40]:
#didnt worked
# %tensorboard --logdir logs/fit20250428-183458

In [ ]:
## load the pickel file